:root {
    --family-headings: 'Poppins', sans-serif;
    --family-body: 'Open Sans', sans-serif;

    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --grayish-blue: hsl(208, 11%, 55%);

    --padding-section: 90px 0;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;     */
}

body {
    font-family: var(--family-body);
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-section); /* Padding solo para el section de 90px 0 */
}

.hero {
    --padding-section: 0 0 60px 0; /* Padding en el header solo del bottom */
    /* padding-bottom: 30px; */
    background-color: var(--very-pale-blue);
    background-image: url('../images/bg-section-top-mobile-2.svg');
    background-size: cover;
    background-position: center;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --padding-section: 0; /* Lo ponemos así por el border-box, no suma el padding (esta propiedad se aplica a todos los de la clase container) */
}

.nav_logo {
    width: 100%;
    max-width: 150px;
    display: block;
}

.nav_cta {
    text-decoration: none;
    color: var(--very-dark-cyan);
    font-weight: 700;
    background-color: var(--very-pale-blue);
    padding: .5em 1.5em;/* No va a cambiar el tamaño, su padre no tiene font-size */
    border-radius: 30px;
    box-shadow: 0 0 10px -3px hsl(192 100% 9% / .4);
    margin-right: 2px;
}

/* Contenido principal del header */
.hero_main {
    padding-top: 60px; 
    display: flex; /* Para el espaciado entre columnas utilizamos flex-box con gap*/
    flex-direction: column;
    gap: 40px;
}   

.hero_texts {
    text-align: center;
}

.hero_title {
    font-size: 2rem;
    font-family: var(--family-headings);
}

.hero_paragraph {
    margin: 1rem 0;
    line-height: 1.5;
}

.button {
    display: inline-block;
    background-color: var(--pink);
    text-decoration: none;
    color: var(--very-pale-blue);
    padding: .7em 2.8em;
    border-radius: 25px;
    box-shadow: 0 0 3px hsl(322, 100%, 66%, .3);
}

.hero_img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.section {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-shadow: 0 0 4px hsl(192, 100%, 9%, .3);
    border-radius: 8px;
    padding: 2em 1em;
}

.section_img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}


.section_texts {
    text-align: center;
}

.section_title {
    color: var(--very-dark-cyan);
    font-size: 1.8rem;
    font-family: var(--family-headings);
}

.section_paragraph {
    margin-top: 1em;
    line-height: 1.5;
    /* color: var(--grayish-blue); */
    color: var(--very-dark-cyan);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.email {
    padding: var(--padding-section);
    background-color: #fff;
    background-image:linear-gradient(
        #fff 50%, 
        var(--very-dark-cyan) 50%
    );
}

.email_container {
    max-width: 700px;
    background-color: #fff;
    text-align: center;
    padding: 3em 2em;
    box-shadow: 0 0 3px hsl(192, 100%, 9%, .3);
    border-radius: 8px;
} 

.email_title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: var(--family-headings);
}

/* Footer */

.footer {
    background-color: var(--very-dark-cyan);
}

.footer_logo {
    max-width: 250px;
    display: block;
    margin-bottom: 30px;
}

.footer_directions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_paragraph {
    color: #fff;
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.footer_icon {
    position: relative;
    top: 4px;
}

.footer_list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list_first {
    margin: 30px 0 20px;
}

.footer_item {
    color: #fff;
}

.footer_link {
    color: #fff;
    text-decoration: none;
}

.footer_contact {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.footer_socialmedia {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_media {
    display: inline-flex;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.footer_copy {
    margin-top: 30px;
}


/* Mediaquery */
@media (min-width: 768px) {
    .hero {
        background-image: url('../images/bg-section-top-desktop-2.svg');
    }
    
    .nav_logo {
        max-width: 180px;
    }
    
    .nav_cta {
        padding: .8em 3.5em;/* No va a cambiar el tamaño, su padre no tiene font-size */
    }
    
    /* Contenido principal del header */
    .hero_main {
        flex-direction: row;
        align-items: center;
        gap: 70px;
    }   
    
    .hero_texts {
        text-align: left;
        width: 50%;
    } 
    
    .hero_title {
        font-size: 2.5rem;
    }

    .hero_figure {
        width: 50%;
        display: flex;
        align-items: center;
    }
    

    .hero_img {
        max-width: unset; /* Vuelve a su valor original*/
    }



    /* Sección */
    .main {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
    
    .section {
        padding: 4em 2.5em;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    /* Revertimos la imagen del segundo contenedor  (Para ser más escalable, sería mejor .section:nth-child(odd)) */
    .section--reverse {
        flex-direction: row-reverse; 
    }

    .section_figure {
        width: 50%;
    }
    
    .section_img {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
    
    .section_texts {
        text-align: inherit; /* Hereda de su padre */
        width: 50%;
    }
    
    .section_title {
        color: var(--very-dark-cyan);
        font-size: 1.8rem;
        font-family: var(--family-headings);
    }
    
    .section_paragraph {
        margin-top: 1em;
        line-height: 1.5;
        /* color: var(--grayish-blue); */
        color: var(--very-dark-cyan);
    }
    
    /* Email */
    
    
    /* Footer */

    .footer_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer_figure {
        width: 100%;
    }
    
    .footer {
        background-color: var(--very-dark-cyan);
    }
    
    .footer_logo {
        margin-bottom: 0;
    }
    
    .footer_directions {
        width: min-content;
    }
    
    
    .footer_list {
        width: max-content;
    }
    
    .footer_list_first {
        margin: 0;
    }
    
    .footer_item {
        color: #fff;
    }
    
    
    .footer_contact {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: 0;
    }
    
    .footer_socialmedia {
        justify-content: flex-start;
    }
    
    .footer_media {
        display: inline-flex;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
    }
    
    .footer_copy {
        margin-top: auto;
    }
    
}